@using DPSP_UI_LG.Helpers
@{
    ViewBag.Title = "Login options";
}

<h2>@ViewBag.Title.</h2>
@Html.AntiForgeryToken()
@if (Ident.IsLogged)
{
<h4>Welcome to our system!</h4>
<p>User @Ident.Get().userName has been logged in. Return to <a href="http://localhost:65075">homepage</a></p>
}
else
{
    <p>Enable to log in because '@Ident.Get().error_description'. Please try <a href="http://localhost:65075/Account/Login">again.</a></p>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
